/* COLOR PALETTE

Purple background:  #baa7df 
Button background: #a4b9ee
Button hover background: #b2c7fc
Darker Purple: rgb(151 117 213)

Yellow: #FFE1A3 
Orange: #FFB495 
Pink: #D662A8
Dark Purples: #6A2D8A #412A78 #0E0D5A
*/
/* -------------------------------------- */
/* Basic Setup */
/* -------------------------------------- */
:root {
  --color-primary: #baa7df;
  --color-primary-light: #dcd2f1;
  --color-grey-dark: rgb(51, 51, 51); }

* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  background-image: linear-gradient(var(--color-primary-light), var(--color-primary));
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: var(--color-grey-dark);
  font-family: 'Noto Sans JP', Arial, Helvetica, sans-serif;
  font-size: 1.7rem;
  font-weight: 300;
  text-rendering: optimizeLegibility; }

.clearfix {
  zoom: 1; }

.clearfix::after {
  content: '';
  clear: both;
  display: block; }

/* --- Headings --- */
h1 {
  margin-bottom: 3rem;
  text-align: center;
  font-size: 200%; }

h2 {
  margin-top: 3rem;
  text-align: center;
  font-size: 150%; }

/* -------------------------------------- */
/* Reusable Components */
/* -------------------------------------- */
label {
  margin-right: 10px; }

p {
  text-align: center; }

/* --- Inputs --- */
input[type='button'] {
  font-size: 85%;
  padding: 10px 35px;
  color: #f8f8f8;
  background-color: #a4b9ee;
  border: 1px solid #a4b9ee;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  transition: background-color 0.2s, border 0.2s, color 0.2s;
  -webkit-transition: background-color 0.2s, border 0.2s, color 0.2s;
  -moz-transition: background-color 0.2s, border 0.2s, color 0.2s;
  -ms-transition: background-color 0.2s, border 0.2s, color 0.2s;
  -o-transition: background-color 0.2s, border 0.2s, color 0.2s; }

input[type='button']:hover,
input[type='button']:active {
  color: #f8f8f8;
  background-color: #b2c7fc;
  border: 1px solid #b2c7fc;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px; }

input[type='text'] {
  padding: 2px; }

*:focus {
  outline: none; }

/* Goal */
.goal-display {
  margin-top: 30px; }

/* -------------------------------------- */
/* Containers */
/* -------------------------------------- */
.container {
  max-width: 124rem;
  margin: 8rem auto;
  padding-bottom: 1.5rem;
  background-color: whitesmoke;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px; }

.input-container {
  width: 30%;
  margin: auto; }

/* --- Grid --- */
.row {
  display: block;
  margin: 2rem auto;
  max-width: 1140px; }

.col {
  display: block;
  float: left; }

.span-1-of-2 {
  width: 49%; }
