/* COLOR PALETTE

Purple background:  #baa7df 
Button background: #a4b9ee
Button hover background: #b2c7fc
Darker Purple: rgb(151 117 213)

Yellow: #FFE1A3 
Orange: #FFB495 
Pink: #D662A8
Dark Purples: #6A2D8A #412A78 #0E0D5A
*/

/* -------------------------------------- */
/* Basic Setup */
/* -------------------------------------- */

:root {
  --color-primary: #baa7df;
  --color-primary-light: #dcd2f1;
  --color-grey-dark: rgb(51, 51, 51);
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  background-image: linear-gradient(
    var(--color-primary-light),
    var(--color-primary)
  );
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: var(--color-grey-dark);
  font-family: 'Noto Sans JP', Arial, Helvetica, sans-serif;
  font-size: 1.7rem;
  font-weight: 300;
  text-rendering: optimizeLegibility;
}

.clearfix {
  zoom: 1;
}
.clearfix::after {
  content: '';
  clear: both;
  display: block;
}

/* --- Headings --- */

h1 {
  margin-bottom: 3rem;
  text-align: center;
  font-size: 200%;
}

h2 {
  margin-top: 3rem;
  text-align: center;
  font-size: 150%;
}
