/* -------------------------------------- */
/* Containers */
/* -------------------------------------- */

.container {
  max-width: 124rem;
  margin: 8rem auto;
  padding-bottom: 1.5rem;
  background-color: rgb(245, 245, 245);
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}

/* -------------------------------------- */
/* Form */
/* -------------------------------------- */

.input {
  width: 30%;
  margin: auto;
}

/* --- Grid --- */

.row {
  display: block;
  margin: 2rem auto;
  max-width: 1140px;
}

.col {
  display: block;
  float: left;
}

.span-1-of-2 {
  width: 49%;
}
