/* COLOR PALETTE

Purple background:  #baa7df
Button background: #a4b9ee
Button hover background: #b2c7fc

Yellow: #FFE1A3 
Orange: #FFB495 
Pink: #D662A8
Dark Purples: #6A2D8A #412A78 #0E0D5A
*/

/* -------------------------------------- */
/* Basic Setup */
/* -------------------------------------- */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #baa7df;
  color: rgb(247, 247, 247);
  font-family: 'Noto Sans JP', Arial, Helvetica, sans-serif;
  font-size: 17px;
  font-weight: 300;
  text-rendering: optimizeLegibility;
}

.clearfix {
  zoom: 1;
}
.clearfix::after {
  content: '';
  clear: both;
  display: block;
}

/* -------------------------------------- */
/* Containers */
/* -------------------------------------- */

.content {
  border-radius: 50px;
  height: 70vh;
  margin: auto;
  width: 50%;
  background-color: #dcd2f1;
}

.input-container {
  width: 30%;
  margin: auto;
}

/* -------------------------------------- */
/* Reusable Components */
/* -------------------------------------- */

label {
  margin-right: 10px;
}

p {
  text-align: center;
}

/* --- Headings --- */

h1 {
  margin-bottom: 30px;
  text-align: center;
  font-size: 200%;
}

h2 {
  margin-top: 30px;
  text-align: center;
  font-size: 150%;
}

/* --- Inputs --- */

input[type='button'] {
  font-size: 85%;
  padding: 10px 35px;
  color: rgb(248, 248, 248);
  background-color: #a4b9ee;
  border: 1px solid #a4b9ee;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  transition: background-color 0.2s, border 0.2s, color 0.2s;
  -webkit-transition: background-color 0.2s, border 0.2s, color 0.2s;
  -moz-transition: background-color 0.2s, border 0.2s, color 0.2s;
  -ms-transition: background-color 0.2s, border 0.2s, color 0.2s;
  -o-transition: background-color 0.2s, border 0.2s, color 0.2s;
}

input[type='button']:hover,
input[type='button']:active {
  color: #f8f8f8;
  background-color: #b2c7fc;
  border: 1px solid #b2c7fc;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}

input[type='text'] {
  padding: 2px;
}

*:focus {
  outline: none;
}

/* --- Grid --- */

.row {
  display: block;
  margin: 20px auto;
  max-width: 1140px;
}

.col {
  display: block;
  float: left;
}

.span-1-of-2 {
  width: 49%;
}

/* -------------------------------------- */
/* Misc */
/* -------------------------------------- */

.goal-display {
  margin-top: 30px;
}
